body{
    font: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header{
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
nav ul{
    list-style: none;
    padding: 0;
}
nav ul li{
    display: inline;
    margin: 0 10px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
}

#about{
    padding: 20px;
    background: #f4f4f4;

}
#about h2{
    margin-top: 0;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.project{
    border: 1px solid #ccc;
    padding: 10px;
    width: 300px;
    text-align: center;
}
.project img{
    max-width: 100%;
    height: auto;
}
contact {
    padding: 20px;
}
form {
    display: flex;
    flex-direction: column;
}
form label {
    margin-bottom: 5px;
}
form input, form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
}
form input[type="submit"] {
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}
@media (max-width: 600px) {
    .gallery {
        flex-direction: column;
        align-items: center;
    }
    .project {
        width: 100%;
    }
    nav ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
